@import "tailwindcss";

@theme {
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-gray-50: #f9fafb;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
